services/User_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="User"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="UserOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="getUserbyNom" type="xsd:string"></xsd:element>
            <xsd:element name="getUserbyNomResponse" type="xsd:string"></xsd:element>
        </xsd:schema>
	</wsdl:types>

	<wsdl:message name="UserOperationRequest">
		<wsdl:part name="parameters" element="tns:getUserbyNom"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserOperationResponse">
		<wsdl:part name="parameters" element="tns:getUserbyNomResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="UserPortType">
		<wsdl:operation name="UserOperation">
			<wsdl:input message="tns:UserOperationRequest"></wsdl:input>
			<wsdl:output message="tns:UserOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="UserBinding" type="tns:UserPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="UserOperation">
			<soap:operation soapAction="http://www.talend.org/service/UserOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="User">
		<wsdl:port name="UserPort" binding="tns:UserBinding">
			<soap:address location="http://localhost:8090/services/User" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>